<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded-xl shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Register</h2>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="space-y-4">


      <!-- First Name and Last Name in one row -->
      <div class="flex gap-4">
        <div class="w-1/2">
          <input type="text" placeholder="First Name" formControlName="firstName"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <div *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.invalid"
            class="text-sm text-red-500 mt-1">
            First name is required
          </div>
        </div>

        <div class="w-1/2">
          <input type="text" placeholder="Last Name" formControlName="lastName"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <div *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.invalid"
            class="text-sm text-red-500 mt-1">
            Last name is required
          </div>
        </div>
      </div>

      <!-- User ID -->
      <!-- <div>
        <input type="text" placeholder="User ID" formControlName="userId"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <div *ngIf="registrationForm.get('userId')?.touched && registrationForm.get('userId')?.invalid"
          class="text-sm text-red-500 mt-1">
          User ID is required
        </div>
      </div> -->
      <div>
        <input type="number" placeholder="Age" formControlName="age"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <div *ngIf="registrationForm.get('age')?.touched && registrationForm.get('age')?.invalid"
          class="text-sm text-red-500 mt-1">
          Age is required and must be valid
        </div>
      </div>
      <div class="flex items-center gap-4">
        <label class="font-medium">Gender:</label>
        <label>
          <input type="radio" formControlName="gender" value="male" class="mr-1" /> Male
        </label>
        <label>
          <input type="radio" formControlName="gender" value="female" class="mr-1" /> Female
        </label>
      </div>

      <div class="flex items-center">
        <input type="checkbox" formControlName="isMarried" class="mr-2" />
        <label class="mr-2">Married</label>
      </div>




      <!-- Email -->
      <div>
        <input type="email" placeholder="Email" formControlName="email"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <div *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid"
          class="text-sm text-red-500 mt-1">
          <span *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="registrationForm.get('email')?.errors?.['email']">Enter a valid email</span>
        </div>
      </div>

      <!-- Password -->
      <div>
        <input type="password" placeholder="Password" formControlName="password"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <div *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid"
          class="text-sm text-red-500 mt-1">
          <span *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required</span>
          <span *ngIf="registrationForm.get('password')?.errors?.['minlength']">Minimum 6 characters</span>
        </div>
      </div>


      <button type="submit"
        class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-200"
        [disabled]="registrationForm.invalid">
        Register
      </button>
    </form>


    <p class="mt-4 text-center text-red-500 text-sm">{{ message }}</p>

    <p class="mt-6 text-center text-sm text-gray-600">
      Already a member?
      <a routerLink="/login" class="text-blue-600 cursor-pointer hover:underline font-medium">Login here</a>
    </p>
  </div>
</div>
